openapi: 3.1.0
info:
  description: REST API for concerts, festivals, artists, and venues featuring normalized data from JamBase.
  version: 3.1.0
  title: JamBase Concert Data Artists Lookups API
  contact:
    email: developer@jambase.com
    name: Team JamBase
    url: /contact
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.jambase.com/terms
  summary: REST API for live music data from JamBase
servers:
- url: https://api.data.jambase.com/v3
  description: JamBase Concert Data API
security:
- BearerAuth: []
tags:
- name: Lookups
  description: Lookup Identifiers
paths:
  /lookups/event-data-sources:
    get:
      tags:
      - Lookups
      summary: Get Event Data Sources
      operationId: getEventDataSources
      description: 'These can be used to filter events by Event IDs from third-party Data Sources.\

        \

        Returns all Event Data Sources in Alphabetical order.

        '
      responses:
        '200':
          description: A list of Event Data Sources
          content:
            application/json:
              schema:
                description: 'An array of `DataSource` objects representing Event Data Sources\

                  \

                  Results are sorted alphabed

                  '
                type: object
                properties:
                  success:
                    $ref: '#/components/schemas/Success'
                  dataSources:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                examples:
                - success: true
                  pagination:
                    page: 1
                    perPage: -1
                    totalItems: 10
                    totalPages: 1
                  dataSources:
                  - '@type': Organization
                    name: AXS
                    identifier: axs
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: DICE
                    identifier: dice
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: Etix
                    identifier: etix
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: Eventbrite
                    identifier: eventbrite
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: Eventim DE
                    identifier: eventim-de
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: JamBase
                    identifier: jambase
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: Seated
                    identifier: seated
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: SeatGeek
                    identifier: seatgeek
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: See Tickets
                    identifier: see-tickets
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: See Tickets UK
                    identifier: see-tickets-uk
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: Sofar Sounds
                    identifier: sofar-sounds
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: SuiteHop
                    identifier: suitehop
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: Ticketmaster
                    identifier: ticketmaster
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: Tixr
                    identifier: tixr
                    disambiguatingDescription: eventDataSource
                  - '@type': Organization
                    name: Viagogo
                    identifier: viagogo
                    disambiguatingDescription: eventDataSource
          x-internal: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /lookups/stream-data-sources:
    get:
      tags:
      - Lookups
      summary: Get Stream Data Sources
      operationId: getstreamDataSources
      description: 'These can be used to filter Streams from a specific Streaming platform.\

        \

        Returns all Stream Data Sources in Alphabetical order.

        '
      responses:
        '200':
          description: A list of Stream Ticket Vendors
          content:
            application/json:
              schema:
                description: 'An array of `Organization` objects representing Stream Ticket Vendors\

                  \

                  Results are sorted alphabetically by identifier

                  '
                type: object
                properties:
                  success:
                    $ref: '#/components/schemas/Success'
                  ticketVendors:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                examples:
                - success: true
                  pagination:
                    page: 1
                    perPage: -1
                    totalItems: 10
                    totalPages: 1
                  ticketVendors:
                  - name: LivePhish
                    identifier: livephish.com
                    '@type': Organization
                    disambiguatingDescription: eventTicketVendorPrimary
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Mandolin
                    identifier: mandolin.com
                    '@type': Organization
                    disambiguatingDescription: eventDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
          x-internal: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /lookups/artist-data-sources:
    get:
      tags:
      - Lookups
      summary: Get Artist Data Sources
      operationId: getArtistDataSources
      description: 'These can be used to filter events by Artist IDs from third-party Data Sources.\

        \

        Returns all Artist Data Sources in Alphabetical order.

        '
      responses:
        '200':
          description: A list of Artist Data Sources
          content:
            application/json:
              schema:
                description: 'An array of `DataSource` objects representing Artist Data Sources\

                  \

                  Results are sorted alphabed

                  '
                type: object
                properties:
                  success:
                    $ref: '#/components/schemas/Success'
                  dataSources:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                examples:
                - success: true
                  pagination:
                    page: 1
                    perPage: -1
                    totalItems: 12
                    totalPages: 1
                  dataSources:
                  - name: AXS
                    identifier: axs
                    '@type': Organization
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: DICE
                    identifier: dice
                    '@type': Organization
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Etix
                    identifier: etix
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Eventbrite
                    identifier: eventbrite
                    '@type': Organization
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Eventim DE
                    identifier: eventim-de
                    '@type': Organization
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: JamBase
                    identifier: jambase
                    disambiguatingDescription: eventDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Musicbrainz
                    identifier: musicbrainz
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Seated
                    identifier: seated
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: SeatGeek
                    identifier: seatgeek
                    '@type': Organization
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: See Tickets
                    identifier: see-tickets
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: See Tickets UK
                    identifier: see-tickets-uk
                    '@type': Organization
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Sofar Sounds
                    identifier: sofar-sounds
                    '@type': Organization
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Spotify
                    identifier: spotify
                    '@type': Organization
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: SuiteHop
                    identifier: suitehop
                    '@type': Organization
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Ticketmaster
                    identifier: ticketmaster
                    '@type': Organization
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Tixr
                    identifier: tixr
                    '@type': Organization
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Viagogo
                    identifier: viagogo
                    '@type': Organization
                    disambiguatingDescription: artistDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
          x-internal: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /lookups/venue-data-sources:
    get:
      tags:
      - Lookups
      summary: Get Venue Data Sources
      operationId: getVenueDataSources
      description: 'These can be used to filter events by Venue IDs from third-party Data Sources.\

        \

        This endpoint returns all Venue Data Sources in Alphabetical order.

        '
      responses:
        '200':
          description: A list of Venue Data Sources
          content:
            application/json:
              schema:
                description: 'An array of `DataSource` objects representing Venue Data Sources\

                  \

                  Results are sorted alphabed

                  '
                type: object
                properties:
                  success:
                    $ref: '#/components/schemas/Success'
                  dataSources:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                examples:
                - success: true
                  pagination:
                    page: 1
                    perPage: -1
                    totalItems: 10
                    totalPages: 1
                  dataSources:
                  - name: AXS
                    identifier: axs
                    '@type': Organization
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: DICE
                    identifier: dice
                    '@type': Organization
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Etix
                    identifier: etix
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Eventbrite
                    identifier: eventbrite
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Eventim DE
                    identifier: eventim-de
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: JamBase
                    identifier: jambase
                    disambiguatingDescription: eventDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Seated
                    identifier: seated
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: SeatGeek
                    identifier: seatgeek
                    '@type': Organization
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: See Tickets
                    identifier: see-tickets
                    '@type': Organization
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: See Tickets UK
                    identifier: see-tickets-uk
                    '@type': Organization
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Sofar Sounds
                    identifier: sofar-sounds
                    '@type': Organization
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: SuiteHop
                    identifier: suitehop
                    '@type': Organization
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Ticketmaster
                    identifier: ticketmaster
                    '@type': Organization
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Tixr
                    identifier: tixr
                    '@type': Organization
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
                  - name: Viagogo
                    identifier: viagogo
                    '@type': Organization
                    disambiguatingDescription: venueDataSource
                    x-createdOnDate: '2022-12-14T03:41:20+00:00'
                    x-updatedOnDate: '2022-12-14T03:41:20+00:00'
          x-internal: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
components:
  responses:
    BadRequest:
      description: Invalid input parameter
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                default: false
              errors:
                $ref: '#/components/schemas/ErrorsList'
    UnauthorizedError:
      description: API key is missing or invalid
      headers:
        WWW_Authenticate:
          schema:
            type: string
  schemas:
    Organization:
      title: Organization
      description: 'An organization or business.\

        Typically a ticket vendor or data source in this API.\

        The `identifier` or "slug" can also be used as `ticket[vendor][id]` in `/events` and `/livestreams` search endpoints.

        '
      type: object
      required:
      - name
      - identifier
      - disambiguatingDescription
      - datePublished
      - dateModified
      allOf:
      - type: object
        properties:
          '@type':
            type: string
            enum:
            - Organization
          identifier:
            type: string
            description: A unique identifier of the item
            example: ticketmaster
          disambiguatingDescription:
            type: string
            examples:
            - eventTicketVendorPrimary
            - eventTicketVendorSecondary
            - streamTicketVendorPrimary
            - streamDataSource
            - eventDataSource
            - artistDataSource
            - venueDataSource
      - $ref: '#/components/schemas/Thing'
    Success:
      name: success
      description: A successful response.
      type: boolean
      default: true
    ErrorsList:
      description: A list of errors
      x-stoplight:
        id: 1253ab38a345c
      type: array
      items:
        type: object
        properties:
          errorCode:
            type: string
            enum:
            - no_lookup_results
            - lookup_error
            - parameter_missing
            - parameter_invalid
            - identifier_missing
            - identifier_invalid
            - parameter_out_of_range
            - general_error
          errorMessage:
            type: string
            example: The identifier `jambase:87121` is invalid.
    URL:
      title: URL
      x-stoplight:
        id: ac90d6bc4bf17
      description: A third-party link.
      type: object
      properties:
        '@type':
          type: string
          enum:
          - URL
        identifier:
          $ref: '#/components/schemas/enumUrlType'
        url:
          type: string
          format: uri
          description: The URL of the external link.
    Thing:
      title: Thing
      description: A generic thing
      type: object
      properties:
        name:
          type: string
          description: The name of the item
        identifier:
          type: string
          example: jambase:194164
          description: A unique identifier of the item
        url:
          type: string
          format: uri
          description: URL of the item
        image:
          type: string
          format: uri
          description: 'An image of the item.\

            \

            Please note that ''image'' may not be provided for all Schemas that include `Thing` (e.g. `Organization`)

            '
        sameAs:
          type: array
          items:
            $ref: '#/components/schemas/URL'
          description: URL of a reference Web page that unambiguously indicates the item's identity
        datePublished:
          type: string
          format: iso-8601
          example: '2022-12-14T15:35:48Z'
          description: 'The date the Event first appeared in ISO 8601 date format [[docs](https://en.wikipedia.org/wiki/ISO_8601)]

            \

            Please note that ''datePublished'' may not be provided for all Schemas that include `Thing` (e.g. `Organization`)

            '
        dateModified:
          type: string
          format: iso-8601
          example: '2022-12-14T03:41:20Z'
          description: 'The date the Event was last updated in ISO 8601 date format [[docs](https://en.wikipedia.org/wiki/ISO_8601)]

            \

            Please note that ''dateModified'' may not be provided for all Schemas that include `Thing` (e.g. `Organization`).

            \

            Indexing timestamps for Concert / Festival / Stream / MusicGroup / MusicVenue live on `datePublished` and `dateModified`. The sibling `x-createdOnDate` and `x-updatedOnDate` fields are scoped to data-source / `Organization` responses (e.g. ticket vendors, performance-rights organizations) and are not present on Event-derived schemas.

            '
    enumUrlType:
      type: string
      x-stoplight:
        id: cf4040b56ddd2
      description: The type of the external URL
      enum:
      - officialSite
      - facebook
      - twitter
      - instagram
      - youtube
      - musicbrainz
      - spotify
      - androidApp
      - iosApp
      x-tags:
      - Enums
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key as Bearer token. Get your key from your account dashboard.
